:root{
    --primary-color:white;
    --secondary-color:black;
    --main-color: #5899d5
}

.logo{
    font-family: "Century Gothic",sans-serif;
    font-size: 35px;
    font-weight: 800;
    color: var(--primary-color);
}


.navbar{
    background:transparent;
}
.nav{
    display: flex;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 35px;
    font-weight: 200;

}
li,a{
    all: unset;
    color: var(--primary-color);
}
li,a:hover{
    cursor: pointer;
    color: var(--secondary-color);
}

.btn-login{
    color: var(--primary-color);
    border: none;
    background: var(--main-color);
    font-weight: 900;
    margin: auto 0;
}
.btn-login:hover{
    color: var(--secondary-color);
    cursor: pointer;
}

.btn-register{
   padding: 12px 24px;
    background: linear-gradient(to right, #3b82f6, #6366f1);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 99999px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
    cursor: pointer;
}
.btn-register:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
.modern-btn:active{
    transform: scale(0.15);
}